# Python Einführung

Hallo, wir lernen Python

## Erste Anweisung

In [17]:
print("Hello World!")

Hello World!

In [18]:
print("'Hello World'")

'Hello World'

In [19]:
print('"Hello"')

"Hello"

In [20]:
print("'Hello' sagte sie")

'Hello' sagte sie

In [21]:
# Dies ist ein Kommentar
print('Hallöchen') # Print-Anweisung

Hallöchen

## Datentypen

In [22]:
# Variable
# String
name = 'Lovelace'
print(name)

Lovelace

In [23]:
# Integer - Ganze Zahl
age = 73
print(age)

73

In [24]:
# Float - Gleitkommazahlen
size = 1.7123
print(size)

1.7123

In [25]:
# Boolan - Boolscher Wert
knows_math = True
likes_gardening = False

In [26]:
print(knows_math)
print(likes_gardening)

True
False

In [27]:
type(name)

str

In [28]:
type(size)

float

In [29]:
name

'Lovelace'

In [30]:
name
age

73

In [31]:
print(name)
print(age)

Lovelace
73

## Funktionen und Methoden

In [33]:
# Zählt Zeichen
len(name)

8

In [34]:
# Schreibt in Großbuchstaben
name.upper()

'LOVELACE'

In [35]:
# Variable selbst verändert sich nicht
print(name)

Lovelace

In [36]:
name.count('e')

2

In [37]:
# Methode mit zwei Argumente
name.replace('lace', ' is everywhere')

'Love is everywhere'

In [38]:
name

'Lovelace'

In [45]:
name_L = name.count('L')

In [46]:
name_l = name.count('l')

In [50]:
name_L + name_l

2

In [48]:
name_low = name.lower()

In [49]:
name_low.count('l')

2

## Listen und Dictionaries

In [59]:
# Liste
names = ['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [60]:
type(names)

list

In [52]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [54]:
names[0]

'Lovelace'

In [55]:
names[-1]

'Hawking'

In [56]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [57]:
names[3:]

['Hawking']

In [61]:
# Tuple
names_tup = ('Lovelace', 'Darwin', 'Curie', 'Hawking')

In [62]:
type(names_tup)

tuple

In [58]:
# Dictionary
authors_and_birth_years = {'Lovelace': 1815,
                           'Darwin': 1809,
                           'Noether': 1882,
                           'Hawking': 1942}

In [63]:
type(authors_and_birth_years)

dict

In [64]:
authors_and_birth_years['Darwin']

1809

In [65]:
authors_and_birth_years['DARWIN']

KeyError: 'DARWIN'

In [66]:
authors_and_birth_years.keys()

dict_keys(['Lovelace', 'Darwin', 'Noether', 'Hawking'])

In [67]:
authors_and_birth_years['Noether']

1882

## for-Schleifen

In [92]:
names = ['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [93]:
for person in names:
    print(person + ' did awesome stuff.')
    print('-----')
print('End')

Lovelace did awesome stuff.
-----
Darwin did awesome stuff.
-----
Curie did awesome stuff.
-----
Hawking did awesome stuff.
-----
End

## Bedingte Anweisungen (Conditionals)

In [103]:
temp = 20

In [104]:
temp

20

In [105]:
if temp > 15:
    print("It's warm")

It's warm

In [106]:
20 > 15

True

In [107]:
20 > 70

False

In [108]:
temp = 10

if temp > 15:
    print("It's warm")

else:
    print("It's cold")

It's cold

In [109]:
temp

10

In [112]:
temp = 15

if temp >= 25:
    print("It's hot")

elif temp >= 15:
    print("It's warm")

else:
    print("It's cold")

It's warm

In [116]:
temperatures = [15, 25, 10]

for temperature in temperatures:
    if temperature >= 25:
        print("It's hot")

    elif temperature >= 15:
        print("It's warm")

    else:
        print("It's cold")

It's warm
It's hot
It's cold

## Exkurs

In [113]:
import os
print(os.path.abspath(os.getcwd()))

C:\Users\schruff